@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}

a.nav-link{
    font-weight: bold;
    color: #111;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.page-banner{
    padding: 80px 0px;
    background: #bdbdbd;
    h1{
        font-size: 40px;
    }
}

.product-container,.cart-wrapper{
    padding-top: 60px;
}

.product-card img{
    height: 250px;
}
.quantity-container {
    text-align: center;
    input{
        text-align: center;
        width: 50px;
    }
}